<h1>Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Books</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, subject %></td>
        <td><%= subject.books.count %></td>
        <td><%= link_to 'Show', subject %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
