<h1>Resources</h1>

<% @resources.each do |resource| %>
  <div>
    <h2>Resource ID: <%= resource.resource_id %></h2>
    <p>URI: <%= resource.uri %></p>
    <p>Type: <%= resource.resource_type %></p>
    <p>Book: <%= link_to resource.book.title, book_path(resource.book) %></p>
  </div>
<% end %>
